<button class="btn dropdown-toggle" data-toggle="dropdown">
<span class="caret"></span>
</button>
<ul class="dropdown-menu" id='currencyDropDown'> 
    <li><a class='detect-currency' data-currency="LKR" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">LKR</span><span class="codeFull">Srilanka Rupees</span></a>

    </li>  
    <li><a class='detect-currency' data-currency="USD" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">USD</span><span class="codeFull">United States Dollars</span></a>

    </li>
    <li><a class='detect-currency' data-currency="EUR" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">EUR</span><span class="codeFull">Euro</span></a>

    </li>
    <li><a class='detect-currency' data-currency="CAD" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">CAD</span><span class="codeFull">Canada Dollars</span></a>

    </li>
    <li><a class='detect-currency' data-currency="GBP" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">GBP</span><span class="codeFull">United Kingdom Pounds</span></a>

    </li>
    <li><a class='detect-currency' data-currency="DEM" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">DEM</span><span class="codeFull">Germany Deutsche Marks</span></a>

    </li>
    <li><a class='detect-currency' data-currency="FRF" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">FRF</span><span class="codeFull">France Francs</span></a>

    </li>
    <li><a class='detect-currency' data-currency="JPY" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">JPY</span><span class="codeFull">Japan Yen</span></a>

    </li>
    <li><a class='detect-currency' data-currency="NLG" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">NLG</span><span class="codeFull">Netherlands Guilders</span></a>

    </li>
    <li><a class='detect-currency' data-currency="ITL" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">ITL</span><span class="codeFull">Italy Lira</span></a>

    </li>
    <li><a class='detect-currency' data-currency="CHF" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">CHF</span><span class="codeFull">Switzerland Francs</span></a>

    </li>
    <li><a class='detect-currency' data-currency="DZD" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">DZD</span><span class="codeFull">Algeria Dinars</span></a>

    </li>
    <li><a class='detect-currency' data-currency="ARP" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">ARP</span><span class="codeFull">Argentina Pesos</span></a>

    </li>
    <li><a class='detect-currency' data-currency="AUD" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">AUD</span><span class="codeFull">Australia Dollars</span></a>

    </li>
    <li><a class='detect-currency' data-currency="ATS" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">ATS</span><span class="codeFull">Austria Schillings</span></a>

    </li>
    <li><a class='detect-currency' data-currency="BSD" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">BSD</span><span class="codeFull">Bahamas Dollars</span></a>

    </li>
    <li><a class='detect-currency' data-currency="BBD" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">BBD</span><span class="codeFull">Barbados Dollars</span></a>

    </li>
    <li><a class='detect-currency' data-currency="BEF" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">BEF</span><span class="codeFull">Belgium Francs</span></a>

    </li>
    <li><a class='detect-currency' data-currency="BMD" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">BMD</span><span class="codeFull">Bermuda Dollars</span></a>

    </li>
    <li><a class='detect-currency' data-currency="BRR" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">BRR</span><span class="codeFull">Brazil Real</span></a>

    </li>
    <li><a class='detect-currency' data-currency="BGL" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">BGL</span><span class="codeFull">Bulgaria Lev</span></a>

    </li>
    <li><a class='detect-currency' data-currency="CAD" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">CAD</span><span class="codeFull">Canada Dollars</span></a>

    </li>
    <li><a class='detect-currency' data-currency="CLP" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">CLP</span><span class="codeFull">Chile Pesos</span></a>

    </li>
    <li><a class='detect-currency' data-currency="CNY" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">CNY</span><span class="codeFull">China Yuan Renmimbi</span></a>

    </li>
    <li><a class='detect-currency' data-currency="CYP" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">CYP</span><span class="codeFull">Cyprus Pounds</span></a>

    </li>
    <li><a class='detect-currency' data-currency="CSK" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">CSK</span><span class="codeFull">Czech Republic Koruna</span></a>

    </li>
    <li><a class='detect-currency' data-currency="DKK" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">DKK</span><span class="codeFull">Denmark Kroner</span></a>

    </li>
    <li><a class='detect-currency' data-currency="NLG" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">NLG</span><span class="codeFull">Dutch Guilders</span></a>

    </li>
    <li><a class='detect-currency' data-currency="XCD" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">XCD</span><span class="codeFull">Eastern Caribbean Dollars</span></a>

    </li>
    <li><a class='detect-currency' data-currency="EGP" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">EGP</span><span class="codeFull">Egypt Pounds</span></a>

    </li>
    <li><a class='detect-currency' data-currency="EUR" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">EUR</span><span class="codeFull">Euro</span></a>

    </li>
    <li><a class='detect-currency' data-currency="FJD" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">FJD</span><span class="codeFull">Fiji Dollars</span></a>

    </li>
    <li><a class='detect-currency' data-currency="FIM" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">FIM</span><span class="codeFull">Finland Markka</span></a>

    </li>
    <li><a class='detect-currency' data-currency="FRF" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">FRF</span><span class="codeFull">France Francs</span></a>

    </li>
    <li><a class='detect-currency' data-currency="DEM" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">DEM</span><span class="codeFull">Germany Deutsche Marks</span></a>

    </li>
    <li><a class='detect-currency' data-currency="XAU" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">XAU</span><span class="codeFull">Gold Ounces</span></a>

    </li>
    <li><a class='detect-currency' data-currency="GRD" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">GRD</span><span class="codeFull">Greece Drachmas</span></a>

    </li>
    <li><a class='detect-currency' data-currency="HKD" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">HKD</span><span class="codeFull">Hong Kong Dollars</span></a>

    </li>
    <li><a class='detect-currency' data-currency="HUF" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">HUF</span><span class="codeFull">Hungary Forint</span></a>

    </li>
    <li><a class='detect-currency' data-currency="ISK" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">ISK</span><span class="codeFull">Iceland Krona</span></a>

    </li>
    <li><a class='detect-currency' data-currency="INR" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">INR</span><span class="codeFull">India Rupees</span></a>

    </li>
    <li><a class='detect-currency' data-currency="IDR" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">IDR</span><span class="codeFull">Indonesia Rupiah</span></a>

    </li>
    <li><a class='detect-currency' data-currency="IEP" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">IEP</span><span class="codeFull">Ireland Punt</span></a>

    </li>
    <li><a class='detect-currency' data-currency="ILS" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">ILS</span><span class="codeFull">Israel New Shekels</span></a>

    </li>
    <li><a class='detect-currency' data-currency="ITL" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">ITL</span><span class="codeFull">Italy Lira</span></a>

    </li>
    <li><a class='detect-currency' data-currency="JMD" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">JMD</span><span class="codeFull">Jamaica Dollars</span></a>

    </li>
    <li><a class='detect-currency' data-currency="JPY" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">JPY</span><span class="codeFull">Japan Yen</span></a>

    </li>
    <li><a class='detect-currency' data-currency="JOD" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">JOD</span><span class="codeFull">Jordan Dinar</span></a>

    </li>
    <li><a class='detect-currency' data-currency="KRW" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">KRW</span><span class="codeFull">Korea (South) Won</span></a>

    </li>
    <li><a class='detect-currency' data-currency="LBP" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">LBP</span><span class="codeFull">Lebanon Pounds</span></a>

    </li>
    <li><a class='detect-currency' data-currency="LUF" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">LUF</span><span class="codeFull">Luxembourg Francs</span></a>

    </li>
    <li><a class='detect-currency' data-currency="MYR" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">MYR</span><span class="codeFull">Malaysia Ringgit</span></a>

    </li>
    <li><a class='detect-currency' data-currency="MXP" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">MXP</span><span class="codeFull">Mexico Pesos</span></a>

    </li>
    <li><a class='detect-currency' data-currency="NLG" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">NLG</span><span class="codeFull">Netherlands Guilders</span></a>

    </li>
    <li><a class='detect-currency' data-currency="NZD" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">NZD</span><span class="codeFull">New Zealand Dollars</span></a>

    </li>
    <li><a class='detect-currency' data-currency="NOK" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">NOK</span><span class="codeFull">Norway Kroner</span></a>

    </li>
    <li><a class='detect-currency' data-currency="PKR" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">PKR</span><span class="codeFull">Pakistan Rupees</span></a>

    </li>
    <li><a class='detect-currency' data-currency="XPD" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">XPD</span><span class="codeFull">Palladium Ounces</span></a>

    </li>
    <li><a class='detect-currency' data-currency="PHP" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">PHP</span><span class="codeFull">Philippines Pesos</span></a>

    </li>
    <li><a class='detect-currency' data-currency="XPT" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">XPT</span><span class="codeFull">Platinum Ounces</span></a>

    </li>
    <li><a class='detect-currency' data-currency="PLZ" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">PLZ</span><span class="codeFull">Poland Zloty</span></a>

    </li>
    <li><a class='detect-currency' data-currency="PTE" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">PTE</span><span class="codeFull">Portugal Escudo</span></a>

    </li>
    <li><a class='detect-currency' data-currency="ROL" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">ROL</span><span class="codeFull">Romania Leu</span></a>

    </li>
    <li><a class='detect-currency' data-currency="RUR" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">RUR</span><span class="codeFull">Russia Rubles</span></a>

    </li>
    <li><a class='detect-currency' data-currency="SAR" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">SAR</span><span class="codeFull">Saudi Arabia Riyal</span></a>

    </li>
    <li><a class='detect-currency' data-currency="XAG" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">XAG</span><span class="codeFull">Silver Ounces</span></a>

    </li>
    <li><a class='detect-currency' data-currency="SGD" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">SGD</span><span class="codeFull">Singapore Dollars</span></a>

    </li>
    <li><a class='detect-currency' data-currency="SKK" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">SKK</span><span class="codeFull">Slovakia Koruna</span></a>

    </li>
    <li><a class='detect-currency' data-currency="ZAR" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">ZAR</span><span class="codeFull">South Africa Rand</span></a>

    </li>
    <li><a class='detect-currency' data-currency="KRW" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">KRW</span><span class="codeFull">South Korea Won</span></a>

    </li>
    <li><a class='detect-currency' data-currency="ESP" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">ESP</span><span class="codeFull">Spain Pesetas</span></a>

    </li>
    <li><a class='detect-currency' data-currency="XDR" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">XDR</span><span class="codeFull">Special Drawing Right (IMF)</span></a>

    </li>
    <li><a class='detect-currency' data-currency="SDD" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">SDD</span><span class="codeFull">Sudan Dinar</span></a>

    </li>
    <li><a class='detect-currency' data-currency="SEK" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">SEK</span><span class="codeFull">Sweden Krona</span></a>

    </li>
    <li><a class='detect-currency' data-currency="CHF" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">CHF</span><span class="codeFull">Switzerland Francs</span></a>

    </li>
    <li><a class='detect-currency' data-currency="TWD" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">TWD</span><span class="codeFull">Taiwan Dollars</span></a>

    </li>
    <li><a class='detect-currency' data-currency="THB" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">THB</span><span class="codeFull">Thailand Baht</span></a>

    </li>
    <li><a class='detect-currency' data-currency="TTD" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">TTD</span><span class="codeFull">Trinidad and Tobago Dollars</span></a>

    </li>
    <li><a class='detect-currency' data-currency="TRL" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">TRL</span><span class="codeFull">Turkey Lira</span></a>

    </li>
    <li><a class='detect-currency' data-currency="GBP" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">GBP</span><span class="codeFull">United Kingdom Pounds</span></a>

    </li>
    <li><a class='detect-currency' data-currency="USD" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">USD</span><span class="codeFull">United States Dollars</span></a>

    </li>
    <li><a class='detect-currency' data-currency="VEB" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">VEB</span><span class="codeFull">Venezuela Bolivar</span></a>

    </li>
    <li><a class='detect-currency' data-currency="ZMK" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">ZMK</span><span class="codeFull">Zambia Kwacha</span></a>

    </li>
    <li><a class='detect-currency' data-currency="EUR" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">EUR</span><span class="codeFull">Euro</span></a>

    </li>
    <li><a class='detect-currency' data-currency="XCD" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">XCD</span><span class="codeFull">Eastern Caribbean Dollars</span></a>

    </li>
    <li><a class='detect-currency' data-currency="XDR" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">XDR</span><span class="codeFull">Special Drawing Right (IMF)</span></a>

    </li>
    <li><a class='detect-currency' data-currency="XAG" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">XAG</span><span class="codeFull">Silver Ounces</span></a>

    </li>
    <li><a class='detect-currency' data-currency="XAU" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">XAU</span><span class="codeFull">Gold Ounces</span></a>

    </li>
    <li><a class='detect-currency' data-currency="XPD" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">XPD</span><span class="codeFull">Palladium Ounces</span></a>

    </li>
    <li><a class='detect-currency' data-currency="XPT" data-toggle="modal"  href="#currencyModal"><span class="codeCurrency">XPT</span><span class="codeFull">Platinum Ounces</span></a>

    </li>
</ul>
